name: Build IPA
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build App
        run: |
          xcodebuild build -project MyWebViewApp-Swift.xcodeproj -scheme MyWebViewApp-Swift -sdk iphoneos CODE_SIGNING_ALLOWED=NO
          mkdir Payload
          cp -r build/Release-iphoneos/*.app Payload/
          zip -r MyApp.ipa Payload
      - name: Upload IPA
        uses: actions/upload-artifact@v2
        with:
          name: My-IPA-File
          path: MyApp.ipa
